[submodule "mtkernel"]
	path = mtkernel
	url = https://github.com/tron-forum/mtkernel_3.git
[submodule "lib/liblwip/src/lwip"]
	path = lib/liblwip/src/lwip
	url = https://git.savannah.nongnu.org/git/lwip.git
